<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/media/css/style.css" />
   <title>{% block title %}Mon application de visualisation d'emploi du temps{% endblock %}</title>
</head>
<body>


<section id="content_date_time">

{% block content_date_time %}{% endblock %}

</section>
<br>
-------------------------------------------------------------
<br>
<section id="content_variable">

       {% block content_variable %}{% endblock %}

</section>



<br><br>
<footer>&copy; Los ratos muertes</footer>
</body>
</html>